/* put all your styles here Diego */
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Martel:wght@300&family=Yusei+Magic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Martel:wght@300&display=swap");
* {
  /* border: 1px solid; */
}
.aside {
  width: 1291px;
  height: 779px;
  margin: 0 auto;
  position: absolute;
  top: 2000px;
}
.aside-title {
  font-size: 14px;
  margin: 0%;
  border-bottom: 1px solid;
  padding-bottom: 15px;
}
.aside-box {
  width: 210px;
  height: 321px;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aside .aside-imgbox {
  width: 75px;
  height: 75px;
}
.aside-link {
  font-size: 14px;
  color: inherit;
  font-family: Georgia, "Times New Roman", Times, serif;
  /* height: 75px; */
  height: 100%;
  display: flex;
  flex-direction: row;
}
.aside article {
  height: 75px;
  margin: 0%;
}
.aside-art h3 {
  margin: 0%;
  padding-left: 5px;
  width: 134px;
  font-size: 14px;
  font-weight: 500;
}
/* article title */
.title {
  width: 100%;
  display: flex;
  justify-content: center;
}
h1 {
  width: 60%;
  text-align: left;
  margin-left: 140px;
  font-family: "Martel", serif;
}
/* article img */
strong {
  color: black;
}
article {
  font-family: "Martel", serif;
  color: #333;
  font-weight: 600;
}
.ar-img-container {
  display: flex;
  width: 100%;
}
.box-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.article-img {
  width: 945px;
  height: 545px;
}
.img-desc {
  width: 680px;
  margin: 0% 22% 0% 0%;
  font-size: 13px;
  color: rgb(71, 72, 73);
}
/* article text */
.author-name h4,
a {
  color: black;
}
.a {
  color: #326891;
}
.art-p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Georgia, "Times New Roman" Times, serif;
  font-size: 18px;
}
.art-p p {
  width: 600px;
}
.author {
  width: 600px;
}
.author time {
  font-size: 12px;
}
.NYT-add {
  width: 300px;
  margin-left: 25%;
}
.add1 {
  margin: 0;
}
.youtube-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
}
.embeddedV {
  width: 561px;
  height: 350px;
  font-size: 13px;
  font-weight: bold;
  color: rgb(68, 69, 70);
}
.embeddedV p {
  font-size: 10px;
  margin: 0;
  padding: 0;
  color: rgb(88, 89, 90);
}
/* cards */
.cards-div {
  height: 657px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards-div p {
  width: 945px;
  height: 18;
  font-size: 14px;
  margin: 0;
}
.theryOfInflation {
  width: 945px;
  height: 576px;
  position: relative;
  display: flex;
  align-items: center;
}
.cards-section-text {
  width: 657px;
}
.card {
  margin: 6px;
  width: 218px;
  height: 128px;
  font-size: 10px;
}
.card-layout {
  /* overflow: visible; */
  height: 576px;
  width: 945px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  background-image: url("https://static01.nyt.com/newsgraphics/2014/03/18/theory-of-inflation/1ebaa1b972edda0f407fbaa0e010f6b50fb6792e/inflation-945.png");
  background-color: white;
  background-repeat: no-repeat;
  background-size: 900px;
}
#card-1,
#card-2,
#card-3,
#card-4,
#card-5,
#card-6,
#card-7,
#card-8 {
  margin-top: 138px;
  font-family: nyt-franklin, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: lighter;
}
.credits-theory {
  font-size: 13px;
  margin-bottom: 30px;
}
.credits-theory p {
  padding-left: 171px;
  margin: 0;
}
.cook-line {
  width: 600px;
  color: rgb(199, 194, 194);
}
