/* all of Elmer's styles */

/* top nav */

.mainHeader {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #e2e2e2;
}

.burgerAndMagGlass {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftIcons {
  display: flex;
}

.clearfix1 {
  padding-top: 37px;
}

/* Footer */

.main-footer-container {
  padding-left: 3%;
  padding-right: 3%;
  background-color: rgb(255, 255, 255);
  max-width: 70%;
  margin: 45px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* newsletter */
.suggestedNewsletters {
  display: flex;
  flex-direction: column;
}

.containsAllTheNewsletters {
  display: flex;
}

.mainSection-cardNewsletter {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid lightgrey;
  min-height: 100%;
}

.img-cardNewsletter {
  width: 82px;
  height: 82px;
}

.plusSign-cardNewsletter {
  width: 50px;
  height: 50px;
}

.cardNewsletter {
  padding: 10px;
  width: 33%;
  min-height: 100%;
}

.plusSign {
  float: right;
}

/* articles */

.main-footer-container > section {
  width: 66%;
  order: 2;
  margin-right: auto;
  border-top: 1px solid darkblue;
}

.main-footer-container > aside {
  width: 33%;
  order: 1;
}

.main-footer-container > div {
  width: 100%;
  border-top: 2px solid darkblue;
  order: 3;
}

.main-footer-container > section.suggestedNewsletters {
  order: 0;
}

.main-footer-container > aside.mostPopular {
  border-top: 1px solid darkblue;
}

.mainSection-cardArticle {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.containsAllTheArticles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 852px;
  padding-top: 15px;
}

.cardArticle {
  width: 33%;
  flex-basis: 32%;
  padding: 0 20px 20px 0;
  flex-grow: 1;
}

/* lower nav */

.centerLogo-header-navFooter {
  height: 15px;
}

.navbars-footer {
  display: flex;
  flex-direction: column;
}

.allVerticalNavs {
  display: flex;
  justify-content: space-between;
}

.lastHorizontalNav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.li-footerNav {
  font-size: 0.5em;
}
