@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

* {
  padding: 0;
  box-sizing: border-box;
  border: 1px solid;
}

h1 {
  text-align: center;
  font-family: "Yusei Magic", sans-serif;
}

.social-icons {
  display: flex;
  width: 100%;
  justify-content: center;
}

.icon {
  width: 20px;
  margin-right: 5px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
}

.burger-svg {
  width: 25px;
}
