/* all of Elmer's styles */

/* top nav */

.mainHeader {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #e2e2e2;
}

.burgerAndMagGlass {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 76px;
}

.leftIcons {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.clearfix1 {
  padding-top: 37px;
}

.burger,
.lupa {
  height: 20px;
  width: 20px;
}

.spaceNcosmos {
  font-size: 14.25px;
  font-family: helvetica, arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.centerLogo {
  align-items: center;
  padding-top: 5px;
}

.UpperNavRightButton {
  padding: 11px 12px 8px;
  border-radius: 3px;
  font-family: helvetica, arial, sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/* Footer */

.main-footer-container {
  padding-left: 3%;
  padding-right: 3%;
  background-color: rgb(255, 255, 255);
  max-width: 70%;
  margin: 45px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* newsletter */
.suggestedNewsletters {
  display: flex;
  flex-direction: column;
}

.containsAllTheNewsletters {
  display: flex;
}

.mainSection-cardNewsletter {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid lightgrey;
  min-height: 100%;
}

.img-cardNewsletter {
  width: 82px;
  height: 82px;
}

.plusSign-cardNewsletter {
  width: 50px;
  height: 50px;
}

.cardNewsletter {
  padding: 10px;
  width: 33%;
  min-height: 100%;
}

.dontShow {
  font-family: helvetica, arial, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: rgb(102, 102, 102);
  background: rgb(255, 255, 255);
  border: none;
}

.pUnderImage-cardNewsletter {
  font-family: helvetica, arial, sans-serif;
  font-size: 0.6875rem;
  line-height: 1rem;
  font-weight: 500;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: rgb(51, 51, 51);
}

.h3-cardNewsletter {
  margin-bottom: 6px;
  font-size: 1.125rem;
  font-family: helvetica, arial, sans-serif;
  font-weight: 700;
  line-height: 1.25rem;
  color: rgb(18, 18, 18);
}

.plusSign {
  float: right;
}

/* articles */

.main-footer-container > section {
  width: 66%;
  order: 2;
  margin-right: auto;
  border-top: 1px solid rgb(0, 0, 0);
}

.main-footer-container > aside {
  width: 33%;
  order: 1;
}

.main-footer-container > div {
  width: 100%;
  border-top: 1px solid rgb(0, 0, 0);
  order: 3;
}

.main-footer-container > section.suggestedNewsletters {
  order: 0;
}

.main-footer-container > aside.mostPopular {
  border-top: 1px solid rgb(0, 0, 0);
}

.mainSection-cardArticle {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.containsAllTheArticles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 852px;
  padding-top: 15px;
}

.cardArticle {
  width: 33%;
  flex-basis: 32%;
  padding: 0 20px 20px 0;
  flex-grow: 1;
}

.top-header-setcion-footer {
  display: flex;
  justify-content: space-between;
}

.icon-footerNav1 {
  width: 15px;
  height: 15px;
}

/* lower nav */

.centerLogo-header-navFooter {
  height: 15px;
}

.navbars-footer {
  display: flex;
  flex-direction: column;
}

.allVerticalNavs {
  display: flex;
  justify-content: space-between;
}

.lastHorizontalNav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.li-footerNav {
  font-size: 0.5em;
}
